@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Seymour+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}


/*****THE HEADER WITH NAV*****/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(214deg, #181e41 0%, #b499df 100%);
  width: 100%;
  height: 134px;
  position: fixed;
  top: 0;
  padding: 47px 115px;
  z-index: 1;
  box-shadow: 0px 0.15rem 0.1rem rgba(0, 0, 0, 0.4);
  font-size: 20px;
}

.header .logo {
  display: flex;
  justify-content: center;
  place-items: center;
  gap: 5px;
  color: #f6f6f6;
}

.header .logo h2 {
  height: 40px;
  width: 40px;
  background: linear-gradient(214deg, #b75cff 0%, #671ae4 100%);
  border-radius: 50%;
  display: flex;
  place-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header .logo h3 {
  color: #f6f6f6;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header .navigationLink {
  display: flex;
  gap: 40px;
  place-items: center;
  list-style-type: none;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navigationLink .navLinks {
  display: inline-block;
  position: relative;
  padding-right: 0.25em;
  padding-left: 0.25em;
}

.nav--item__border {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0.02em;
  background-color: #f6f6f6;
  /* // the hidden state */
  left: 50%;
  max-width: 0;
  transition: 0.2s;
}

/* // the nav--item hover state! */

.navigationLink .navLinks:hover .nav--item__border {
  max-width: 100%;
  left: 0;
}

.navigationLink .navLinks:link,
.navigationLink .navLinks:visited {
  color: #f6f6f6;
}

/* CONTACT NAV BUTON */
.letsTalkDiv {
  display: none;
}

.navigationLink .contactBtn1 {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  margin-left: 34px;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    #6253e1,
    #b75cff,
    #a3a1ff,
    #6253e1
  );
  background-size: 300% 100%;
}

.contactWithToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.visibleBtn .contactBtn {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  margin-left: 34px;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    #6253e1,
    #b75cff,
    #a3a1ff,
    #6253e1
  );
  background-size: 300% 100%;
}

.visibleBtn .navLinks {
  display: inline-block;
  position: relative;
}

.visibleBtn .contactBtn:link,
.visibleBtn .contactBtn:visited {
  color: #f6f6f6;
}

.visibleBtn .contactBtn:hover,
.visibleBtn .contactBtn:active {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

/* ANIMATION FOR THE CONTACT BUTTON */
.contactBtn span {
  position: absolute;
  display: block;
}

.contactBtn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, transparent, #e9f9fa);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.contactBtn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #e9f9fa);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.contactBtn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(270deg, transparent, #e9f9fa);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.contactBtn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #e9f9fa);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* MOBILE NAV BUTTON */

.btn-mobile-nav {
  cursor: pointer;
  background: none;
  border: none;
  display: none;
}

.icon-mobile-nav {
  width: 2.8rem;
  height: 2.8rem;
  color: white;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}


/*** HERO SECTION ***/
.heroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%;
  margin: 0 auto;
}

.heroSection h2 {
  margin: 13.875rem auto 0 auto;
  width: 67.8125rem;
  color: #1c1c1c;
  text-align: center;
  font-family: Poppins;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 3.75rem */
  letter-spacing: 0.01875rem;
}

.heroSection h2 #roqib {
  background: linear-gradient(214deg, #b75cff 0%, #671ae4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroSection .myImageCon {
  display: flex;
  gap: 1rem;
  color: #f6f6f6;
  margin-top: 2rem;
  margin-bottom: 8rem;
  position: relative;
  
}

.heroSection .myImageCon h3 {
  display: inline-flex;
  height: 7.25rem;
  padding: 1.5rem 4.1875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 12.5rem;
  background: linear-gradient(214deg, #421c61 0%, #2f175286 100%);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.heroSection .myImageCon .heroUI {
  margin-top: 5.94rem;
}

.heroSection .myImageCon .heroWeb {
  margin-top: 25.12rem;
}

/**** HERO SECTION ANIMATION EFFECT****/
.overlayName {
  position: relative;
}

.onImage {
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: 0;
  transform-style: preserve-3d;
  transform: perspective(700px) rotateX(60deg);
}

.loader1 {
  right: 0;
  top: 50px;
}
.loader2 {
  bottom: 20px;
}
.loader span {
  position: absolute;
  display: block;
  border: 5px solid #551a8b;

  box-shadow: 0 0 0 #ccc, outset 0 5px 0 #ccc;
  box-sizing: border-box;
  border-radius: 50%;
  animation: animation 5s 0s ease-out infinite alternate-reverse both;
}

.loader span:nth-child(1) {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation-delay: 0s;
}
.loader span:nth-child(2) {
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  animation-delay: 0.4s;
}
.loader span:nth-child(3) {
  top: 40px;
  left: 40px;
  bottom: 40px;
  right: 40px;
  animation-delay: 0.7s;
}
.loader span:nth-child(4) {
  top: 60px;
  left: 60px;
  bottom: 60px;
  right: 60px;
  animation-delay: 0.1s;
}
.loader span:nth-child(5) {
  top: 80px;
  left: 80px;
  bottom: 80px;
  right: 80px;
  animation-delay: 0.5s;
}

@keyframes animation {
  0% {
    transform: translateZ(-100px);
    transform: perspective(700px) rotateX(0deg);
  }

  50% {
    transform: translateZ(100px);
    border: 5px solid #008080;
    transform: perspective(400px) rotateX(0deg);

    border-radius: 45%;
  }

  0% {
    transform: translateZ(-100px);
    transform: perspective(800px) rotateX(360deg);
  }
}

/*** ABOUT SECTION ***/
.aboutSection {
  color: #f6f6f6;
  height: 40.625rem;
  width: 100%;
  background: linear-gradient(214deg, #181e41 0%, #311066b3 100%);
}

.aboutCon {
  padding-top: 5.62rem;
  display: flex;
  padding-left: 7.6rem;
  padding-right: 7.6rem;
  justify-content: space-between;
}

/* LEFT SIDE OF ABOUT SECTION */
.aboutMe {
  font-size: 6.25rem;
  font-weight: 700;
  line-height: 120%; /*7.5rem*/
  letter-spacing: 0.01875rem;
  width: 19.6875rem;
}

/* RIGHT SIDE OF ABOUT SECTION */
.aboutSection .aboutDetails {
  display: flex;
  flex-direction: column;
}

.aboutSection .aboutDetails p {
  width: 51.5625rem;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 180%; /* 3.375rem */
  letter-spacing: 0.01875rem;
  opacity: 0.7;
  margin-bottom: 3rem;
}

.aboutSection .aboutDetails h3 {
  font-family: Seymour One;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 120%; /* 3rem */
  letter-spacing: 0.01875rem;
}

.aboutSection .aboutDetails ul {
  display: flex;
  gap: 7rem;
  margin-top: 1.5rem;
  margin-left: 0;
  list-style: none;
  /* font-size: 2.1875rem; */
  /* font-weight: 500;
  line-height: 120%; 2.625rem */
  /* letter-spacing: 0.01875rem; */
}

.aboutSection .aboutDetails ul li img {
  width: 80px;
}

/* LAST ROW OF ABOUT SECTION CONTAINING TASKS COMPLETED */
.achievements {
  display: flex;
  gap: 23rem;
  justify-content: center;
  margin-top: 3.8rem;
}

.achievements .achievementsList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.81rem;
  width: 10.2rem;
}

.achievements .achievementsList h2 {
  display: flex;
  height: 6.875rem;
  padding: 1.25rem 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.875rem;
  background: linear-gradient(214deg, #421c61 0%, #2f175286 100%);
  box-shadow: 0px 10px 4px 0px rgba(0, 0, 0, 0.25);
}

.achievements .achievementsList p {
  color: #f6f6f6;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 120%; /* 2.25rem */
  letter-spacing: 0.01875rem;
}


/* HOW I BUILD YOUR PROJECT SECTION */
.skillDetails {
  height: 42rem;
  display: flex;
  justify-content: center;
  gap: 8rem;
}

/* THE TWO RIGHT COLOURED CONTAINER */
.skillDetails .wholeSkillBox {
  display: flex;
  gap: 2rem;
  margin-top: 6.25rem;
}

.skillDetails .wholeSkillBox .skillBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 22rem;
  height: 30.75rem;
  border-radius: 1.875rem;
  background: linear-gradient(214deg, #421c61 0%, #2f175286 100%);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
  color: #f6f6f6;
}

.skillBox2 {
  padding-top: 3rem;
}

.skillDetails .wholeSkillBox .skillBox h3 {
  margin-top: 3rem;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 2.25rem */
}

.skillDetails .wholeSkillBox .skillBox p {
  text-align: center;
  margin-top: 2rem;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* THE RIGHT SIDE CONTAINING THE TEXTS "HOW I BUILD YOUR PROJECTS" */
.skillTextBox {
  margin-top: 6.25rem;
  display: flex;
  width: 34rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.875rem;
}

.skillText h3 {
  color: #1c1c1c;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.125rem; /* 166.667% */
  letter-spacing: 0.01875rem;
}

.skillText p {
  color: rgba(28, 28, 28, 0.5);
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 2.25rem */
  letter-spacing: 0.01875rem;
}

/* CONTAINER FOR PROGRESS */
.progressBox {
  width: 33rem;
}

.skillCompletion {
  display: flex;
  gap: 2rem;
}

.skillCompletion img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
}

.skillCompletionName h6 {
  color: #1c1c1c;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.01875rem;
}

.skillCompletionName p {
  color: #1c1c1c;
  font-size: 0.9375rem;
  font-weight: 300;
  letter-spacing: 0.01875rem;
}

.progressBox hr {
  margin-top: 1rem;
}

.progressPercent {
  display: flex;
  justify-content: space-between;
}

.progressPercent .progress {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 0.2rem;
}

.progressPercent .progress h3 {
  color: #1c1c1c;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 180%; /* 4.05rem */
  letter-spacing: 0.01875rem;
}

.progressPercent .progress p {
  color: #747578;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 0.875rem; /* 93.333% */
  letter-spacing: 0.01875rem;
}


/* MT PROJECTS LIST SECTION */

#projects{
padding-top: 3rem;
padding-bottom: 3rem;
}

.myProjects#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: auto;
  background-color: #181e41;
  background-image: url(/img/bgImg.png);
  background-position: left;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  color: #f6f6f6;
}

.myProjects#projects h1 {
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 700;
  line-height: 120%; /* 3rem */
  letter-spacing: 0.01875rem;
  margin-bottom: 3rem;
}

.projectSlides {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-around;
}

.myProjects#projects .projectSlideBox .projectImg {
  width: 100%;
  height: 200px;
  border-top: 4px solid #00aeff;
  border-right: 4px solid #00aeff;
  border-left: 4px solid #00aeff;
}

.projectButtons ul {
  list-style: none;
}

.fullProjectSlide{
  width: 20rem;
  background-color: #181e41;
  
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem; 
}

.projectSlideBox{
  position: relative;
}
.projectSlideBox .projectButtons {
  font-size: 13px;
  /* font:700 16px/40px; */
  width:100%;
  margin: 0 auto 0 auto;
  background:#242424;
  overflow:hidden;
  position: absolute;
  bottom: 0;
  border-right: 4px solid #00aeff;
  border-left: 4px solid #00aeff;
}

.projectSlideBox nav ul {
  height:45px;
  overflow:hidden;
}

.projectSlideBox nav ul li {
  width:50%;
  float:left;
  text-align:center;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  display: list-item;
}

.linksIcon {
font-size: 1.5rem;
}


.item-container {
  top: 0;
  position:relative;
  height:90px;
  cursor:pointer;
  -webkit-transition: all 0.3s ease;
	-moz-transition:  	all 0.3s ease;
	-o-transition:  	  all 0.3s ease;
	transition: 		    all 0.3s ease;
}
.item-container div {
  display: flex;
  place-items: center;
  justify-content: center;
}

.item-container:hover{
  top:-45px;
}

.item-top,
.item-bottom {
  height:45px;
  position:relative;
}

.item-top {
  color:#a09d9d;
}

.item-bottom {
  background:#191919;
  color:#ffffff;
}

.projectCaption {
  color: #f6f6f6;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.01875rem;
  height: 14.5rem;
  margin-top: 0.5rem;
  text-align: center;
  background-color: #1c1c1c;  
  padding: 0.3rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;  
  border-bottom: 4px solid #00aeff;
  border-right: 4px solid #00aeff;
  border-left: 4px solid #00aeff;
}

.projectCaption h4 {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.projectCaption p {
  margin-top: 0.15rem;
  font-size: 0.9rem;
  opacity: 0.7;
}

/**** FOOTER SECTION ****/
footer {
  width: 100%;
  height: 58.375rem;
  color: #f6f6f6;
  background: #1c1c1c;
}

footer h2 {
  color: #f6f6f6;
  text-align: center;
  font-family: Poppins;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 3.75rem */
  width: 62.5rem;
  margin: 0 auto;
  padding-top: 6.25rem;
}

footer h2 span {
  background: linear-gradient(214deg, #b75cff 0%, #671ae4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*** FORM CONTAINER ***/
form .formTag {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.56rem;
  row-gap: 2rem;
  place-items: center;
  margin: 5rem 9rem 0;
  width: auto;
}

.user-box {
  position: relative;
}

input,
textarea {
  width: 24.32rem;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

textarea {
  border-right: 1px solid #fff;
}

.inputLabel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 20px;
  color: #fff;
  opacity: 0.5;
  pointer-events: none;
  transition: 0.5s;
}

.textAreaLabel {
  display: block;
  font-size: 20px;
}

input:focus ~ .inputLabel,
input:valid ~ .inputLabel {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

input:valid,
input:focus {
  border-bottom: 1px solid #03e9f4;
}


textarea:valid,
textarea:focus {
  border-bottom: 3px solid #03e9f4;
  border-right: 3px solid #03e9f4;
}

.sendBtnDiv {
  width: 24.32rem;
  margin-top: 4.5rem;
}

.sendBtn {
  position: relative;
  margin-left: auto;
  right: 0;
  font-size: 20px;
  color: #f6f6f6;
  display: flex;
  padding: 1.25rem 2rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.8rem;
  background-image: linear-gradient(
    to right,
    #b75cff,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  background-size: 300% 100%;
  cursor: pointer;
}

.sendBtn:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.sendBtn:focus {
  outline: none;
}

form:invalid .sendBtn {
  opacity: 0.2;
  pointer-events: none;
}

/* MY SOCIAL MEDIA LINKS */
.myIcons {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 4rem;
  /* gap: 0rem; */
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.iconCon {
  position: absolute;
  display: flex;
  gap: 2rem;
}

.myIcons a:link,
.myIcons a:visited {
  color: white;
  margin: 0 auto;
}

.myIcons a .profileIcon {
  height: 2rem;
  width: 2rem;
  transition:  all 0.5s ease;
}

.myIcons a .profileIcon:hover,
.myIcons a .profileIcon:hover {
  height: 2.5rem;
  width: 2.5rem;
}

/* COPYRIGHT */
.copyright {
  text-align: center;
  margin-top: 3rem;
}
